<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Recomendation System 2022</title>
</head>
<body>
    <div class="container">

        <div class="container1">
            <div class="logo">
                <img src="logo.png" alt="We Recommend Logo"> 
            </div>

            <div class="title">
            <h2>Educational Recommender System Palestine</h2>    
            </div>

        </div>




        <div class="container2">
                <div class="chatbox">
                    <div class="wrapper">
                         <div class="edu_chatbox">

                        <form action="/action_page.php">

                            <div class="box">
                                <div class="item">
                                    
                                                                      <div class="msg">   
                                            <label>مرحبا بك في نظام الارشاد الاكاديمي، من اجل ارشادك لاختيار تخصص يناسبك يرجى تزويدنا ببعض المعلومات عن مرحلة الدراسة المدرسية</label>
                                            

                                    </div>
                                </div>
                                </div>  

                                    <br clear="both">


                                    <div class="box">
                                        <div class="item">
                                            
                                            <div class="icon">
                                                <i class="fa fa-user"></i>
                                            </div>

                                            <div class="msg"> 
                                                <label for="gender">هل يمكنك ان تخبرنا ما هو جنسك؟</label>
                                                <br>

                                            </div>
                                        </div>
                                    </div>
                                
                            
                                <br clear="both">

                <div class="box">
                    <div class="item right">
                        <div class="msg">
                              <input type="radio" id="Male" name="Male" value="HTML">
                              <label for="Male">Male</label>
                              <input type="radio" id="Female" name="fav_language" value="Female">
                              <label for="Female">Female</label>
                            </div>
                    </div>
                </div>

                            
                            
                <br clear="both">


                <div class="box">
                    <div class="item">
                        
                                <div class="icon">
                                    <i class="fa fa-user"></i>
                                </div>

                                <div class="msg"> 
                                  <label for="gpa">ما هو تحصيلك العام في الامتحانات العامة (التوجيهي)
                                  </label>
                                </div>
                    </div>
                </div>


                <br clear="both">

                <div class="box">
                    <div class="item right">
                        <div class="msg">
                                <input type="text" id="gpa" name="gpa">
                        </div>
                    </div> 
                </div>      
                          
                            
                        
                             
                                 




                                
                                
                            
                <br clear="both">

                
                                <div class="box">
                                    <div class="item">
                                        
                                                <div class="icon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                
                                                <div class="msg"> 
                                                    <label for="math">ما هو معدلك في مادة الرياضيات
                                                    </label>
                                                </div>
                                    </div>
                                </div>
                
                
                                <br clear="both">
                                <div class="box">
                                    <div class="item right">
                                        <div class="msg">
                                            <input type="text" id="math" name="math">
                                                                                </div>
                                    </div> 
                                </div> 












                                <br clear="both">

                                <div class="box">
                                    <div class="item">
                                        
                                                <div class="icon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                
                                                <div class="msg"> 
                                                    <label for="phys">ما هو معدلك في مادة الفيزياء
                                                    </label>
                                                </div>
                                    </div>
                                </div>
                
                
                                <br clear="both">
                                <div class="box">
                                    <div class="item right">
                                        <div class="msg">
                                            <input type="text" id="phys" name="phys">
                                                                                </div>
                                    </div> 
                                </div>


                               




                               
                                <br clear="both">      

                                <div class="box">
                                    <div class="item">
                                        
                                                <div class="icon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                
                                                <div class="msg"> 
                                                    <label>من اجل الحصول على نتائج اكثر دقة نريد منك الاجابة عن بعضل الاسئلة العامة حول ميولك العالم"</label>
                                                </div>
                                    </div>
                                </div>





                                
                                <br clear="both">
                           
                               
                                <div class="box">
                                    <div class="item">
                                        
                                                <div class="icon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                
                                                <div class="msg"> 
                                                    <label>هل لديك اهتمامات فنية مثيل الرسم او التشكيل؟</label>                                                    
                                                </div>
                                    </div>
                                </div>
                
                                <br clear="both">
                
                                <div class="box">
                                    <div class="item right">
                                        <div class="msg">
                                           
                                            <input type="radio" id="yes" name="art" value="1">
                                            <label for="yes">نعم</label>
                                            <input type="radio" id="no" name="art" value="0">
                                            <label for="no">لا</label>
                                          
                                        
                                        </div>
                                    </div> 
                                </div>
                            
                            
                          
                             
                             
                      
                                <br clear="both">
                            
                                <div class="box">
                                    <div class="item">
                                        
                                                <div class="icon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                
                                                <div class="msg"> 
                                                    <label>هل انت شخص تحليلي؟</label> 
                                                </div>
                                    </div>
                                </div>
                
                                <br clear="both">
                
                                <div class="box">
                                    <div class="item right">
                                        <div class="msg">
                                           
                                            <input type="radio" id="yes" name="ana" value="1">
                                             <label for="yes">نعم</label>
                                            <input type="radio" id="no" name="ana" value="0">
                                          <label for="no">لا</label>
                                          </div>
                                          
                                        
                                        </div>
                                    </div> 
                                


                         
                          
                          
                           
                             
                             
                            


                                <br clear="both">
                                <div class="box">
                                    <div class="item">
                                        
                                                <div class="icon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                
                                                <div class="msg"> 
                                                    <label>هل لديك رغبة في بناء الأشياء؟</label>                                                </div>
                                    </div>
                                </div>
                
                                <br clear="both">
                
                                <div class="box">
                                    <div class="item right">
                                        <div class="msg">
                                           
                                            <input type="radio" id="yes" name="arch" value="1">
                                            <label for="yes">نعم</label>
                                            <input type="radio" id="no" name="arch" value="0">
                                            <label for="no">لا</label>

                                          
                                          
                                        
                                        </div>
                                    </div> 
                                </div>

                            
                            
                             
                             
                                                      
                                <br clear="both">
                            
                                <div class="box">
                                    <div class="item">
                                        
                                                <div class="icon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                
                                                <div class="msg"> 
                                                    <label>هل لديك فضول في الأجهزة الالكترونية؟</label>                                                
                                                
                                                </div>
                                    </div>
                                </div>
                
                                <br clear="both">
                
                                <div class="box">
                                    <div class="item right">
                                        <div class="msg">
                                           
                                            <input type="radio" id="yes" name="elect" value="1">
                                            <label for="yes">نعم</label>
                                            <input type="radio" id="no" name="elect" value="0">
                                            <label for="no">لا</label>

                                          
                                          
                                        
                                        </div>
                                    </div> 
                                </div>

                             
                                <br clear="both">
                                <div class="box">
                                    <div class="item">
                                        
                                                <div class="icon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                
                                                <div class="msg"> 
                                                    <label>هل لديك ميول ميكانيكية؟</label>      
                                                
                                                </div>
                                    </div>
                                </div>
                
                
                                <br clear="both">
                                <div class="box">
                                    <div class="item right">
                                        <div class="msg">
                                           
                                            <input type="radio" id="yes" name="mech" value="1">
                                            <label for="yes">نعم</label>
                                            <input type="radio" id="no" name="mech" value="0">
                                            <label for="no">لا</label>

                                          
                                          
                                        
                                        </div>
                                    </div> 
                                </div>

                       
                            
                          
                                <br clear="both">
                                <div class="box">
                                    <div class="item">
                                        
                                                <div class="icon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                
                                                <div class="msg"> 
                                                    <label>هل تفضل العمل خارج المكتب؟</label>                                                
                                                </div>
                                    </div>
                                </div>
                
                
                                <br clear="both">
                                <div class="box">
                                    <div class="item right">
                                        <div class="msg">
                                           
                                            <input type="radio" id="yes" name="workout" value="1">
                                            <label for="yes">نعم</label>
                                            <input type="radio" id="no" name="workout" value="0">
                                            <label for="no">لا</label>

                                                                                   
                                        
                                        </div>
                                    </div> 
                                </div>
                         
                              



                                <br clear="both">
                                <div class="box">
                                    <div class="item">
                                        
                                                <div class="icon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                
                                                <div class="msg"> 
                                                    <label>

                                                      
                                                            شكرا لك على المعلومات التي قمت بتزويدها سيتم الان معالجة البيانات وتزويدك بالاقتراحات في حال كنت تريد المتابعة اضغط على متابعة او في حال تريد البدء من جديد اختر اعادة
                                                          
                                                            


                                                    </label>                                                
                                                </div>
                                    </div>
                                </div>



                          
                          
                            <input type="submit" value="Submit">
                          </form>

                        </div> 
               
       
               


        

                    </div>
                </div>
                <div class="slider">

                    <div class="w3-content w3-section">
                        <div class="slider_box">
                                               <img class="mySlides" src="slider/1.jpg" style="max-width:100%; max-height:100%">
                    <img class="mySlides" src="slider/2.jpg" style="max-width:100%; max-height:100%">
                    <img class="mySlides" src="slider/3.jpg" style="max-width:100%; max-height:100%">
                </div> 
                    </div>



                </div>
        </div>
    </div>  
    <script>
        var myIndex = 0;
        carousel();
        
        function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}    
          x[myIndex-1].style.display = "block";  
          setTimeout(carousel, 2000); // Change image every 2 seconds
        }
        </script>
</body>
</html>