
/*slider start*/
.mySlides {display:none;}
/*slider end*/

/*Main Body Style Start*/
body{
    width:80%;
    height:80%;
    margin:0 auto;
    background-image: url("background-logo.jpg");
    background-repeat: repeat;
    }

    
/*Main Body Style End*/


/*Container1 - first row the logo and the title  Style Start*/

    .container{
        margin-top: 5%;
        margin-bottom: 5%;
        background-color:white;
        height:650px;
    }

    .logo{
        flex:1;
    
    }
    
    .title{
        flex:1;
    }

    .container1{
        display:flex;
        flex-direction: column;
        align-items: center;
        }





            

/*Container1 - first row the logo and the title  Style End*/


/*Container2 - Style start*/
.chatbox{
    flex:1;
    order:2;
    margin:5px;
    padding:5px;
    width: 500px;
    height: 400px;
    overflow: auto;
    text-align:justify;
    }
    
.slider{
    flex:1;
    order:1;
    object-fit: contain;
    }


.slider img{

    object-fit: fill;
    margin-left: auto;
    margin-right: auto;
}

slider_box{



}
/*Container2 - Style End*/





/*Mobile-Phone sizes - Start*/

    @media(min-width:768px){

    .container1{
        display:flex;
        flex-direction: column;
        align-items: center;
        }
        
        .container2{
            display:flex;
            
            }
            
         

}



/*Mobile-Phone sizes - End*/




/* chat bot */

.wrapper .title {
    background: #007bff;
    color: white;
    line-height: 2.5;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 20px;
}

.wrapper .box {

    padding: 10px 15px;

}

.wrapper .box .item {
    display: flex;
    float: left;
    margin: 10px 0;
}

.wrapper .box .item .icon {
       background-image:url("icon.png");
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.wrapper .box .item .msg {
    background: #007bff;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
    padding:10px;

}

.wrapper .box .item .msg p {
    padding: 10px;
}

.wrapper .box .item.right {
    float: right;
}

.wrapper .box .item.right .msg {
    background: #efefef;
    color: #333;
}

form {

    color: #333;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }


  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
.wrapper .typing-area {
    width: 100%;
    background: #efefef;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 10px;*/
}

.wrapper .typing-area .input-field {
    width: 80%;
    position: relative;
float:left;
}

.wrapper .typing-area .input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    padding-right: 70px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s all ease;
}

.wrapper .typing-area .input-field input:focus {
    border-color: #007bff;
}

.wrapper .typing-area .input-field button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 3px;
    color: #007bff;
    outline: none;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s all ease;
}

.wrapper .typing-area .input-field button:hover {
    background: #007bff;
    color: white;
}

.wrapper .typing-area .input-field input:valid ~ button {
    opacity: 1;
    pointer-events: auto;
}
/* chat bot end */